extends layout

block content
  #map(onload ="initMap();")
  script(src="/js/mapDriver.js")
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD88tA5lTD_IWlRMMrcvqGVYoStzSLI1os&callback=initMap")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js")

