body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 90vh;
  background: #3e4247;
}

a {
  color: #00b7ff;
}

#map {
  height: 100%;
}

p,
h1 {
  display: none;
}
